
/*background colors*/
bgd {
    color: #3a434a;
}
/*text colorways*/
txt {
    color: #f8f8ff;
    compliment: #fffff8;
}


/*Main colorways */
ideas {
    idea1: #b83533;
    idea2: #712983;
    idea3: #3f1021;
    idea4: #7a254b;
    idea5: #cf7994;
    idea6: #441539;
    idea7: #5f1621;
    idea8: #992633;
    idea9: #a04089;
}


